.image{
    height: 32px;
    width: 32px;
    border-radius: 50%;
}
.user{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 3vw;
}

.commentsContainer{
    overflow-y: auto;
    max-height: 40vh;
}